@font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Extra Light"), local("29LTAzer-ExtraLight"), url("../fonts/29LTAzer-ExtraLight.woff2") format("woff2"),
	  url("../fonts/29LTAzer-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Black"), local("29LTAzer-Black"), url("../fonts/29LTAzer-Black.woff2") format("woff2"), url("../fonts/29LTAzer-Black.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Bold"), local("29LTAzer-Bold"), url("../fonts/29LTAzer-Bold.woff2") format("woff2"), url("../fonts/29LTAzer-Bold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Light"), local("29LTAzer-Light"), url("../fonts/29LTAzer-Light.woff2") format("woff2"), url("../fonts/29LTAzer-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Medium"), local("29LTAzer-Medium"), url("../fonts/29LTAzer-Medium.woff2") format("woff2"),
	  url("../fonts/29LTAzer-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Regular"), local("29LTAzer-Regular"), url("../fonts/29LTAzer-Regular.woff2") format("woff2"),
	  url("../fonts/29LTAzer-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Thin"), local("29LTAzer-Thin"), url("../fonts/29LTAzer-Thin.woff2") format("woff2"), url("../fonts/29LTAzer-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Bold"), local("29LTAzer-Bold"), url("../fonts/29LTAzer-Bold.woff2") format("woff2"), url("../fonts/29LTAzer-Bold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Black"), local("29LTAzer-Black"), url("../fonts/29LTAzer-Black.woff2") format("woff2"), url("../fonts/29LTAzer-Black.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Extra Light"), local("29LTAzer-ExtraLight"), url("../fonts/29LTAzer-ExtraLight.woff2") format("woff2"),
	  url("../fonts/29LTAzer-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Light"), local("29LTAzer-Light"), url("../fonts/29LTAzer-Light.woff2") format("woff2"), url("../fonts/29LTAzer-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Medium"), local("29LTAzer-Medium"), url("../fonts/29LTAzer-Medium.woff2") format("woff2"),
	  url("../fonts/29LTAzer-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Regular"), local("29LTAzer-Regular"), url("../fonts/29LTAzer-Regular.woff2") format("woff2"),
	  url("../fonts/29LTAzer-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "29LT Azer";
	src: local("29LT Azer Thin"), local("29LTAzer-Thin"), url("../fonts/29LTAzer-Thin.woff2") format("woff2"), url("../fonts/29LTAzer-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
  }